/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f6f7fb;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Container Styles */
  .container {
    max-width: 400px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin: 50px auto;
    padding: 20px;
    text-align: left;
  }
  
  /* Form Field Styles */
  label {
    font-weight: 600;
    margin-bottom: 8px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea,
  button {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  textarea:focus {
    outline: none;
    border: 2px solid #4CAF50;
  }
  
  /* Button Styles */
  button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #45a049;
  }
  